{% extends 'base.html' %}
{% block content %}
    <h2 style="text-align: center">菜单管理</h2>
    <hr style="background-color: black">
    {% csrf_token %}
    <table class="table table-hover table-striped table-bordered" style="text-align: center">
        <thead>
        <tr>
            <th style="text-align: center">编号</th>
            <th style="text-align: center">菜单名称</th>
            <th style="text-align: center">状态</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody id="mtbody">
        {% for i in  menu_list %}
            <tr>
                <td>{{ i.nid }}</td>
                <td id="menu_title{{ i.nid }}"><a href="/menu/check/second/{{ i.nid }}/">{{ i.title }}</a></td>
                <td>
                    {% if i.status %}
                        <i class="ace-icon fa fa-eye"></i>
                    {% else %}
                        <i class="ace-icon fa fa-eye-slash"></i>
                    {% endif %}

                </td>
                <td>
                    {% include 'tags_html/edit_first_tag.html' %}
                    {% include 'tags_html/del_first_tag.html' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'tags_html/add_first_tag.html' %}
    </div>
{% endblock %}