{% extends 'base.html' %}
{% block content %}
    <h2 style="text-align: center">菜单管理</h2>
    <hr style="background-color: black">
    <table class="table table-hover table-striped table-bordered" style="text-align: center">
        <thead>
        <tr>
            <th style="text-align: center">编号</th>
            <th style="text-align: center">菜单名称</th>
            <th style="text-align: center">菜单路径</th>
            <th style="text-align: center">状态</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in  menu_list %}
            <tr>
                <td>{{ i.nid }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.url }}</td>
                <td>
                    {% if i.status %}
                        <i class="ace-icon fa fa-eye"></i>
                    {% else %}
                        <i class="ace-icon fa fa-eye-slash"></i>
                    {% endif %}
                </td>
                <td>
                    {% include 'tags_html/edit_second_tag.html' %}
                    {% include 'tags_html/del_second_tag.html' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'tags_html/add_second_tag.html' %}
        <a href="/menu/check/first/" class="btn btn-warning">返回</a>
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/csrfajax.js"></script>
{% endblock %}