.mail_remind {
    width: 170px;
    height: 180px;
    border: 2px dotted black;
    margin: 0 0;
    padding: 0 0;
    background-color: white;
    animation: myfirst 5s;
    -webkit-animation: myfirst 5s;
    position: fixed;
    right: 0%;
    bottom: 0%;
}

.remind_header {
    height: 25px;
    width: 170px;
    border-bottom: 2px dotted black;
}

.remind_body {
    height: 155px;
    width: 170px;
}

/*消息框动画效果*/
@-webkit-keyframes myfirst {
    0% {
        right: 0px;
        bottom: 0px;
        opacity: 0;
    }
    100% {
        right: 0%;
        bottom: 0%;
        opacity: 1;
    }
}
