{% extends "MOM.html" %}
{% block employee_info %}
    <div align="center">
        <h2><strong>员工信息列表</strong></h2>
    </div>

    <div class="col-md-offset-1">
        <div>
            <a href="/employee_management/add_employee/" class="btn btn-primary" style="width: 100px;">新增员工</a>
        </div>


        <div class="col-md-offset-11">
            <a href="/employee_management/search_employee/" class="btn btn-primary btn-lg"
               style="width: 100px;">员工搜索</a>

        </div>

        <hr/>
        <div>

            员工户信息列表:
            <form action="/employee_management/batch_employee/" method="post">
            {% csrf_token %}
                <!-- 标题导航栏 start-->
                    <tbody><tr>
								<td>
									<div class="nav-search">
									<span class="input-icon">
										<input class="nav-search-input" autocomplete="off" id="nav-search-input" type="text" name="keywords" value="" placeholder="这里输入关键词">
										<i class="ace-icon fa fa-search nav-search-icon"></i>
									</span>
									</div>
								</td>
								<td style="padding-left:2px;"><input class="span10 date-picker" name="lastLoginStart" id="lastLoginStart" value="" type="text" data-date-format="yyyy-mm-dd" readonly="readonly" style="width:88px;" placeholder="开始日期" title="最近登录开始"></td>
								<td style="padding-left:2px;"><input class="span10 date-picker" name="lastLoginEnd" value="" type="text" data-date-format="yyyy-mm-dd" readonly="readonly" style="width:88px;" placeholder="结束日期" title="最近登录结束"></td>
								<td style="vertical-align:top;padding-left:2px;">
								 	<select class="chosen-select form-control" name="ROLE_ID" id="role_id" data-placeholder="请选择角色" style="vertical-align: top; width: 120px; display: none;">
									<option value=""></option>
									<option value="">全部</option>

										<option value="115b386ff04f4352b060dffcd2b5d1da">中级会员</option>

										<option value="1b67fc82ce89457a8347ae53e43a347e">初级会员</option>

										<option value="8b70a7e67f2841e7aaba8a4d92e5ff6f">高级会员</option>

								  	</select><div class="chosen-container chosen-container-single" style="width: 120px;" title="" id="role_id_chosen"><a class="chosen-single chosen-default" tabindex="-1"><span>请选择角色</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
								</td>
								<td style="vertical-align:top;padding-left:2px;">
								 	<select class="chosen-select form-control" name="STATUS" id="STATUS" data-placeholder="状态" style="vertical-align: top; width: 79px; display: none;">
									<option value=""></option>
									<option value="">全部</option>
									<option value="1">正常</option>
									<option value="0">冻结</option>
									</select><div class="chosen-container chosen-container-single" style="width: 79px;" title="" id="STATUS_chosen"><a class="chosen-single chosen-default" tabindex="-1"><span>状态</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
								</td>

								<td style="vertical-align:top;padding-left:2px;"><a class="btn btn-light btn-xs" onclick="searchs();" title="检索"><i id="nav-search-icon" class="ace-icon fa fa-search bigger-110 nav-search-icon blue"></i></a></td>
								<td style="vertical-align:top;padding-left:2px;"><a class="btn btn-light btn-xs" onclick="toExcel();" title="导出到EXCEL"><i id="nav-search-icon" class="ace-icon fa fa-download bigger-110 nav-search-icon blue"></i></a></td>

							</tr>
						</tbody>
                <!-- 标题导航栏 end-->





         <select name="action" id="" style="width: 200px; padding:5px 8px;   display: inline-block">

                 <option value="------">--------</option>
                <option value="批量删除">批量删除</option>



            </select>
            <button type="submit" class="btn btn-info">点击执行</button>

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>全选<input type="checkbox" id="choice"></th>
                    <th class="center">序号</th>
                    <th class="center">编号</th>
                    <th class="center">用户名</th>
                    <th class="center">姓名</th>
                    <th class="center">角色</th>
                    <th class="center">
                        <i class="ace-icon fa fa-envelope-o"></i>
                        邮箱</th>
                    <th class="center">
                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                        最近登录</th>
                    <th class="center">上次登录</th>
                    <th class="center">操作</th>
                </tr>
                <tbody>
                {% for staff in staff_list %}
                    <tr>
                        <td><input type="checkbox" class='choice_item' name='select_pk' id="choice" value='{{ staff.pk}}'></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ staff.id }}</td>
                        <td>{{ staff.staff_name }}</td>
                        <td>{{ staff.staff_salary }}</td>
                        <td>{{ staff.staff_state }}</td>
                        <td>{{ staff.staff_job_level }}</td>
                        <td>{{ deparment.department_name }}</td>

                        <td>
                            <!-- 操作start-->
                            <div class="hidden-sm hidden-xs btn-group">

													<a class="btn btn-xs btn-warning" title="发送短信" onclick="sendSms('15153203821');">
														<i class="ace-icon fa fa-envelope-o bigger-120" title="发送短信"></i>
													</a>

													<a class="btn btn-xs btn-info" title="发送站内信" onclick="sendFhsms('lisi');">
														<i class="ace-icon fa fa-envelope-o bigger-120" title="发送站内信"></i>
													</a><a class="btn btn-xs btn-success" title="编辑" onclick="editUser('9991f4d7782a4ccfb8a65bd96ea7aafa');">
														<i class="ace-icon fa fa-pencil-square-o bigger-120" title="编辑"></i>
													</a>

													<a class="btn btn-xs btn-danger" onclick="delUser('9991f4d7782a4ccfb8a65bd96ea7aafa','lisi');">
														<i class="ace-icon fa fa-trash-o bigger-120" title="删除"></i>
													</a>
												</div>
                            <!-- 操作end-->
                            <a href="/employee_management/delete_employee/?id={{ staff.pk }}"
                               class="btn btn-danger">删除</a>


                            <a href="/employee_management/edit_employee/{{ staff.pk }}" class="btn btn-warning">编辑</a>
                            <a href="/employee_management/details_employee/{{ staff.pk }}"
                               class="btn btn-warning">详情</a>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                </thead>

            </table>

            </form>

        </div>
    </div>
    <script>

        $('#choice').click(function () {

            if (($(this)).prop("checked")) {

                $(".choice_item").prop("checked", true)

            }
            else {
                $(".choice_item").prop("checked", false)
            }


        })


    </script>
{% endblock %}
