{% extends 'base.html' %}

{% block content %}
    <!-- 导入 -->
    <link rel="stylesheet" href="/static/mail/mail_modal.css"/>
    <div class="input-group input-search">
        <input type="text" class="form-control" id="search_id" name="search_id" placeholder="请输入关键字">
        <input type="date" class="form-control" id="action-time" name="action-time" value="">
        <input type="date" class="form-control" id="end-time" name="end-time" value="">
        <!--<i class="am-icon-search search" id="q_i"></i>-->
        <select class="form-control" name="select_text" id="select_text">
            <option value="0">全部</option>
            <option value="1">未读</option>
            <option value="2">已读</option>
        </select>
        <button type="button" class="btn btn-primary fuzzy-query" id="fuzzy-query">查询</button>
        <button type="button" class="btn btn-primary">收件箱</button>
        <button type="button" class="btn btn-primary">发件箱</button>
    </div>
    <div class="mail_list" style="margin-top: 20px; text-align: center">
        <div class="table-responsive">
            <table class="table table-bordered tale_inquiry">
                <thead>
                <th><input type="checkbox" id="checkbox_on"></th>
                <th>序号</th>
                <th>标题</th>
                <th>发信人</th>
                <th>收信人</th>
                <th>发信时间</th>
                <th>状态</th>
                <th>操作</th>
                </thead>
                <tbody>
                {% for mail in mail_list %}
                        <tr>
                            <td><input type="checkbox" value="{{ mail.id }}" id="onclick_checkbox"
                                       name="onclick_checkbox"></td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ mail.title }}</td>
                            <td>{{ mail.to_user }}</td>
                            <td>{{ mail.from_user.username }}</td>
                            <td>{{ mail.create_time }}</td>
                            <td>{{ mail.status_id.status }}</td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#search-one{{ forloop.counter }}" id="one_search{{ mail.id }}"
                                        value="{{ mail.id }}">查看
                                </button>

                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#one_del">删除
                                </button>
                                <div class="modal fade" id="one_del" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content del-one-modal" style="width: 300px;left: 160px;">
                                            <div class="modal-header">
                                                确定{{ mail.title }}删除吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default">
                                                    关闭
                                                </button>
                                                <a href="fhsms/del_fhsms/nid={{ mail.id }}/">
                                                    <button type="button" class="btn btn-primary">确认删除</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://mail.163.com/">
                                    <button type="button" class="btn btn-warning">回复</button>
                                </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="search-one{{ forloop.counter }}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content search-one-modal">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"">&times;</span></button>
                                        站内信
                                    </div>
                                    <div class="modal-body search-one-body">
                                        <div class="email_body1">
                                            <span>发送人：{{ mail.to_user }}</span>
                                            <span style="margin-left: 80px">收件人：{{ mail.from_user }}</span>
                                        </div>
                                        <div class="email_body2">
                                            <p>{{ mail.content }}</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="fhsms/chang/id={{ mail.id }}/">
                                            <button type="button" class="btn btn-default">
                                                关闭
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 发送邮箱弹出模态框 -->
    <button type="button" class="btn btn-primary btn-lg mail_btn" data-toggle="modal"
            data-target="#myModal" id="many_del1">
        <i class="ace-icon fa fa-envelope-o bigger-10" title="发送站内信"></i>
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content mail_modal">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        标题：<input type="text" name="title">
                        邮箱：<input type="email" name="from_user">
                        <input type="text" name="status_id" value="{{ status_list.nid }}" style="display: none">
                    </div>
                    <div class="modal-body">
                        <label>文章内容</label>
                        <textarea name="content" id="content" cols="60" rows="20"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">发送</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 多选删除按钮 -->
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#all_del">全部删除
    </button>
    <div class="modal fade" id="all_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content del-one-modal" style="width: 300px;left: 160px;">
                <div class="modal-header">
                    确定全部删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">取消
                    </button>
                    <button type="button" class="btn btn-primary" id="many_del">确认删除
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/mail/mail_js/fuzzy_query.js"></script>
    <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
    <script>
        //$('你的input的class或id').datetimepicker({});
        KindEditor.ready(function (K) {
            window.editor = K.create('#content', {
                width: "800px",
                height: "500px",
                resizeType: 0,
                uploadJson: '/upload/',
                extraFileUploadParams: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                filePostName: 'upload_img',
                items: [
                    'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                    'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                    'anchor', 'link', 'unlink', '|', 'about'
                ]
            });
        });
    </script>
{% endblock %}
