<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btn_add">
    增加
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">增加菜单</h4>
            </div>
            <form action="/menu/add/first/" method="post">
                {% csrf_token %}
                <div class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group" >
                            <label for="inputPassword2" class="col-sm-3 control-label">请输入菜单名称</label>
                            <div class="col-sm-9" id="menu">
                                <input type="text" id="first_menu_name" class="form-control" name="menu_name"
                                       placeholder="请输入菜单名称" style="">
                            </div>
                            <p style="color: red; display: none;text-align: center" id="prompt">该菜单名已经存在</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="radio">请选择菜单状态</label>
                            <div id="radio" class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="menu_status" id="inlineRadio1" value="1"> 显示
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="menu_status" id="inlineRadio2" value="0"> 隐藏
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="sub_btn" type="submit" class="btn btn-primary">保存</button>
                </div>
        </form>
    </div>

</div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>