<button class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">编辑</button>
<div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑菜单</h4>
            </div>
            <form action="/menu/edit/first/{{ i.nid }}/" method="post">
                {% csrf_token %}
                <div class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputPassword2" class="col-sm-3 control-label">请输入新菜单名称</label>
                            <div class="col-sm-9">
                                <input type="text" id="edit_menuname" class="form-control" name="menu_name"
                                       value="{{ i.title }}"
                                       placeholder="请输入菜单名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="radio">请选择菜单状态</label>
                            <div id="radio" class="col-sm-9">
                                <label class="radio-inline">
                                    {% if i.status%}
                                        <input type="radio" name="menu_status" id="inlineRadio1" value="1" checked="checked"> 显示
                                    {% else %}
                                        <input type="radio" name="menu_status" id="inlineRadio1" value="1"> 显示
                                    {% endif %}
                                </label>
                                <label class="radio-inline">
                                    {% if not i.status%}
                                        <input type="radio" name="menu_status" id="inlineRadio2" value="0" checked="checked"> 隐藏
                                    {% else %}
                                        <input type="radio" name="menu_status" id="inlineRadio2" value="0"> 隐藏
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>