<ul class="nav nav-list">
    <li class="active">
        <a href="/index/">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> 后台首页 </span>
        </a>

        <b class="arrow"></b>
    {% for first in first_menu %}
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="{{ first.ico }}"></i>
                <span class="menu-text"> {{ first.title }} </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                {% for second in first.second_menu_set.all %}
                    <li class="">
                        <a href="{{ second.url }}">
                            <i class="{{ second.ico }}"></i>
                            {{ second.title }}
                        </a>
                        <b class="arrow"></b>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul><!-- /.nav-list -->