{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class=" col-md-8">
                <a class="btn btn-success btn-lg pull-left" data-toggle="modal"
                   data-target="#add_classify">+添加分类</a>
                <div class="modal fade" id="add_classify" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close"><span
                                        aria-hidden="true">&times;</span>
                                </button>
                                <h2>请输入分类名称</h2>
                            </div>
                            <form action="/spider/add_classify/" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <input type="text" class="form-control" name="new_classify">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <a class="btn btn-success btn-lg pull-right" data-toggle="modal"
                   data-target="#add_rule">+添加方案</a>
                <div class="modal fade" id="add_rule" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close"><span
                                        aria-hidden="true">&times;</span>
                                </button>
                                <h2>请选择分类</h2>
                            </div>
                            <form action="/spider/add_rule/" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <select name="choose_cla" class="form-control">
                                        {% for classify in classify_list %}
                                            <option value="{{ classify.id }}">{{ classify.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <br> <br> <br>
                <form action="/spider/add_rule/" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="search_1" class="control-label">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="search_1" placeholder="搜索监测方案或文件夹">
                        </div>
                    </div>
                </form>
                <ul class="list-group">
                    {% for classify in classify_list %}
                        <li class="list-group-item cla first_li col-md-11">
                            <span style="font-size: large">{{ classify.title }}</span>
                        </li>
                        <a class="btn btn-success col-md-1" style="margin: 2px auto;" data-toggle="modal"
                           data-target="#delete">删除</a>
                        <div class="modal fade" id="delete" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span>
                                        </button>
                                        <h2>确认删除{{ classify.title }}么？</h2>
                                    </div>
                                    <form action="/spider/delete_classify/{{ classify.id }}/" method="post">
                                        {% csrf_token %}
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <button type="submit" class="btn btn-primary">确认</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group" style="display: none;" attr="no">
                            {% for rule in classify.rule_set.all %}
                                <li class="list-group-item cla col-md-11">
                                   <span style="text-align: center">{{ rule.title }}</span></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    </div>
    <script>
        $(function () {
            $(".cla").mouseenter(function () {
                $(this).css("background-color", "gray");
            });
            $(".cla").mouseleave(function () {
                $(this).css("background-color", "white");
            });
            $(".first_li").click(function () {
                if ($(this).next().next().next().attr('attr') == 'no') {
                    $(this).next().next().next().css('display', 'block')
                    $(this).next().next().next().attr('attr', 'yes');
                }
                else {
                    $(this).next().next().next().css("display", "none");
                    $(this).next().next().next().attr('attr', 'no');
                }
            });

        })
    </script>
{% endblock %}