{% extends "base.html" %}
{% block content  %}


    <div class="col-md-offset-1">


                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                <input type="text" name="id" value="{{ user.id }}" style="display: none">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="emname" name="emname" placeholder="李刚" value="{{ edit_staff.staff_name }}">
                        </div>
                    </div>

                   <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">编号：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="username" name="username" placeholder="崔照旭" value="{{ edit_staff.user.username }}">
                        </div>
                    </div>
                <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">职务名称：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="staff_job" name="staff_job" placeholder="业务" value="{{ edit_staff.staff_job }}">
                 </div>
                    </div>
                <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">职务级别：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="staff_job_level" name="staff_job_level" placeholder="总经理"value="{{ edit_staff.staff_job_level }}" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">员工薪资：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="staff_salary" name="staff_salary" placeholder="15000" value="{{ edit_staff.staff_salary }}">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">员工部门：</label>
                        <div class="col-sm-5">

{#                            <input type="text" class="form-control" id="department_id_list" name="department_id_list" placeholder="市场部">#}

                            <select name="department_id_list" id="department_id_list"  multiple>
                                {% for department in result %}}
                                {% if edit_staff.department in department %}
                                  <option  selected value="{{ department.pk }}">{{ department.department_name }}</option>
                                {% else %}
                                  <option value="{{ department.pk }}">{{ department.department_name }}</option>
                                {% endif %}
                                {% endfor %}
                              </select>
                        </div>
                    </div>
                </form>
    </div>
{% endblock %}
