{% extends "base.html" %}
{% block content %}
    <div align="center">

    </div>

    <div>
        <div>

            <button type="button" class="btn btn-primary">在 &nbsp线&nbsp管&nbsp理&nbsp处</button>
            <form action="/user_management/batch_user/" method="post">
                {% csrf_token %}
            </form>
            <!-- form 多选-->

            <select name="action" id="" style="width: 200px; padding:5px 8px;   display: inline-block">

                <option value="------">--------</option>
                <option value="批量删除">批量删除</option>

            </select>

            <button type="submit" class="btn btn-mini btn-danger">强制下线</button>
            <a class="btn btn-xs btn-info" onclick="searchs();" title="检索" data-toggle="modal"
               data-target="#zhmyModal" style="width: 150px; height: 35px">
                在线人数：

            </a>

            <table class="table table-hover table-bordered">
                <thead>
                <tr>

                    <th class="center">全选<input type="checkbox" id="choice"></th>
                    <th class="center">序号</th>
                    <th class="center">用户名</th>
                    <th class="center">姓名</th>
                    <th class="center">操作</th>

                <tbody>
                {% for user in online_users %}
                    <tr>
                        <td style="width: 70px"><input type="checkbox" class='choice_item' name='select_pk' id="choice"
                                                       value='{{ user.pk }}'></td>
                        <td style="width: 50px">{{ forloop.counter }}</td>
                        <td style="width: 80px">{{ user.username }}</td>
                        <td style="width: 80px">{{ user }}</td>
                        <!-- 操作界面 -->

                    </tr>
                {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>

            <a class="btn btn-mini btn-danger" title="增加员工" data-toggle="modal"
               data-target="#addmyModal">
                强制下线
            </a>



    </div>
    </div>

{% endblock %}