
{% extends "base.html" %}
{% block content %}
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/check_box.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <div align="center">

    </div>

    <div>


        <div>

            <button type="button" class="btn btn-primary">系 &nbsp统&nbsp用&nbsp户&nbsp管&nbsp理&nbsp处</button>

            <form action="/user_management/batch_user/" method="post">
                {% csrf_token %}
            </form>
            {#            <!-- form 多选-->#}

{#            <select name="action" id="" style="width: 200px; padding:5px 8px;   display: inline-block">#}
{##}
{#                <option value="------">--------</option>#}
{#                <option value="批量删除">批量删除</option>#}
{##}
{##}
{#            </select>#}
            <div class="col-md-offset-9">
            <button type="submit" class="btn btn-danger " id="batch_delete">
                执行批量删除
                <a class="btn btn-xs btn-danger" title="删除" data-toggle="modal"
                   data-target="#plmyModal{{ forloop.counter }}">
                    <i class="ace-icon fa fa-trash-o bigger-120" title="删除" style="height: 20px"></i>
                </a>


            </button>
            <!-- 模糊查询start-->
            <a class="btn btn-xs btn-info" onclick="searchs();" title="检索" data-toggle="modal"
               data-target="#zhmyModal" style="width: 50px; height: 35px">
                <i id="nav-search-icon"
                   class="ace-icon fa fa-search bigger-110 nav-search-icon blue"></i>
            </a>
            <div class="modal fade" id="zhmyModal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true"></span>
                            </button>
                            <p class="bg-success" style="text-align: center;color: red;font-weight: bold;   ">
                                为了更加准确查询您所要的信息请根据提示进行查询！！！例如</p>
                        </div>
                        <div class="modal-body">
                            <p class="bg-info" style="text-align: center">根据用户名进行查询</p>
                            <p class="bg-info" style="text-align: center">根据用户编号进行查询</p>
                            <p class="bg-info" style="text-align: center">根据用户角色进行查询</p>
                            <p class="bg-info" style="text-align: center">................</p>
                            <div class="modal-footer">
                                <a href="/user_management/search_user/"
                                   class="btn btn-danger">以了解下一步</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </div>
            <!-- 模糊查询end-->
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="center">全选<input type="checkbox" id="check_all"></th>
                    <th class="center">序号</th>
                    <th class="center">编号</th>
                    <th class="center">用户名</th>
                    <th class="center">姓名</th>
                    <th class="center">角色</th>
                    <th class="center">年龄</th>
                    <th class="center">
                        <i class="ace-icon fa fa-envelope-o"></i>
                        邮箱
                    </th>
                    <th class="center">
                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                        最近登陆
                    </th>
{#                    <th class="center">上次登录IP</th>#}
                    <th class="center">操作</th>
                </tr>
                <tbody>
                {% for user, role_list in user_role_dict.items %}
                    <tr>
                        <td style="width: 70px"><input type="checkbox" class='check_item' name='select_pk' id="choice"
                                                       delete_id='{{ user.pk }}' value="{{ user.pk }}"></td>
                        <td style="width: 50px">{{ forloop.counter }}</td>
                        <td style="width: 50px">{{ user.id }}</td>
                        <td style="width: 80px">{{ user.user.username }}</td>
                        <td style="width: 80px">{{ user.user_name }}</td>

                        <td style="width: 100px">
                            {% for role in role_list %}
                                <span style="font-size: 2px "> {{ role.title }}:</span>
                            {% endfor %}
                        </td>
                        <td style="width: 50px">{{ user.user_age }}</td>

                        <!-- 操作界面 -->
                        <td style="width: 200px">
                            <a title="发送电子邮件" style="text-decoration:none;cursor:pointer; "
                               onclick="sendEmail('{{ user.user.email }}');"> {{ user.user.email }}&nbsp;<i
                                    class="ace-icon fa fa-envelope-o"></i></a>
                        </td>
                        <td style="width: 200px"> {{ user.user.last_login }} </td>

{#                        <td style="width: 90px">{{ user.user_recent_ip }}</td>#}

                        <td style="width: 200px">


                            <!-- 详情信息start0 -->
                            <a class="btn btn-xs btn-info" onclick="searchs();" title="检索" data-toggle="modal"
                               data-target="#xqmyModal{{ forloop.counter }}">
                                <i id="nav-search-icon"
                                   class="ace-icon fa fa-search bigger-110 nav-search-icon blue"></i>
                            </a>

                            <div class="modal fade" id="xqmyModal{{ forloop.counter }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">x</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <!-- 查看员工start-->
                                            <div align="center">
                                                <p class="btn btn-default" style="width: 200px;height: 40px">
                                                    {{ user.user.username }}&nbsp用&nbsp户 &nbsp的&nbsp详&nbsp细&nbsp信&nbsp
                                                    息</p>
                                            </div>
                                            <hr/>


                                            <div class="col-md-offset-1">


                                                {% csrf_token %}

                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="用户名：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user.username }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="姓名：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ user.user_name }}"
                                                           readonly>
                                                </div>

                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="编号：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_number }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="年限：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_stay_years }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="手机号：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_phone }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="年龄：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_age }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="身份ID：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_id_card }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="备注：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_remarks }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="地址：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_address }}"
                                                           readonly>
                                                </div>

                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="性别：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user_gender }}"
                                                           readonly>
                                                </div>

                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="邮箱：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ user.user.email }}"
                                                           readonly>
                                                </div>


                                                <div class="form-group">


                                                    {% for role in   user.user.role_set.all %}
                                                        <input class="form-control" type="text"
                                                               placeholder="角色：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ role.title }}"
                                                               readonly>

                                                    {% endfor %}


                                                </div>
                                                <hr/>
                                                <div class="modal-footer">

                                                    <a href="/user_management/user_info/"
                                                       class="btn btn-danger">退出</a>

                                                </div>

                                            </div>

                                        </div>
                                        <!--查看员工end -->


                                    </div>


                                </div>
                            </div>

                            <!-- 详情信息 end0 -->
                            <!-- 站内信 start -->

                            <a class="btn btn-xs btn-info" title="发送站内信" data-toggle="modal"
                               data-target="#znmyModal{{ forloop.counter }}">
                                <i class="ace-icon fa fa-envelope-o bigger-120" title="发送站内信"></i>
                            </a>

                            <div class="modal fade" id="znmyModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content mail_modal">
                                        <form method="post" action="/user_management/user_mail/">
                                            {% csrf_token %}
                                            <div class="modal-header">


                                                姓名：<input type="text" name="from_user1" value={{ user.user.username }}>
                                                邮箱：<input type="email" name="from_user" value={{ user.user.email }}>


                                            </div>
                                            <div class="modal-body">
                                                标题：<input type="text" name="title">

                                                <input type="text" name="status_id" value="0"
                                                       style="display: none">
                                                <label>文章内容:</label>
                                                <textarea name="content" id="article_content" cols="60"
                                                          rows="20"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button type="submit" class="btn btn-primary" id="sendmail">发送</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <script>
                                //$('你的input的class或id').datetimepicker({});
                                KindEditor.ready(function (K) {
                                    window.editor = K.create('#article_content', {
                                        width: "800px",
                                        height: "500px",
                                        resizeType: 0,
                                        uploadJson: '/upload/',
                                        extraFileUploadParams: {
                                            csrfmiddlewaretoken: '{{ csrf_token }}'
                                        },
                                        filePostName: 'upload_img',
                                        items: [
                                            'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                                            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                                            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                                            'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                                            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                                            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                                            'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                                            'anchor', 'link', 'unlink', '|', 'about'
                                        ]
                                    });
                                });


                            </script>
                            <!-- 站内信 end -->
                            <!-- 短信start-->
                            <a class="btn btn-xs btn-warning" title="发送短信" data-toggle="modal"
                               data-target="#messmyModal{{ forloop.counter }}">
                                <i class="ace-icon fa fa-envelope-o bigger-120" title="发送短信"></i>
                            </a>
                            <div class="modal fade" id="messmyModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content mail_modal">
                                        <form method="post" action="/user_management/send_message/">
                                            {% csrf_token %}
                                            <div class="modal-header">


                                                姓名：<input type="text" name="mes_username"
                                                          value={{ user.user.username }}>
                                                手机号：<input name="mes_phone" value={{ user.user_phone }}>


                                            </div>
                                            <div class="modal-body">


                                                验证码：<input name="mes_content" placeholder="输入您发送的六位验证码">


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button type="submit" class="btn btn-primary" id="sendmail">发送</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- 短信end-->


                            <!-- 编辑模态框start-->

                            <a class="btn btn-xs btn-success" title="编辑" data-toggle="modal"
                               data-target="#editmyModal{{ forloop.counter }}">
                                <i class="ace-icon fa fa-pencil-square-o bigger-120" title="编辑"></i>
                            </a>

                            <div class="modal fade" id="editmyModal{{ forloop.counter }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">x</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <!-- 编辑员工start-->
                                            <div align="center">
                                                <p class="btn btn-default" style="width: 200px;height: 40px">修
                                                    &nbsp改&nbsp {{ user.user.username }}&nbsp用&nbsp户 &nbsp信&nbsp 息</p>
                                            </div>
                                            <hr/>


                                            <div class="col-md-offset-1">


                                                <form action="/user_management/edit_user/{{ user.pk }}/" method="post"
                                                      class="form-horizontal">
                                                    {% csrf_token %}
                                                    <input type="text" name="id" value="{{ user.pk }}"
                                                           style="display: none">
                                                    <div class="form-group">
                                                        <label for="username"
                                                               class="col-sm-2 control-label">用户名：</label>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" id="username"
                                                                   name="username" placeholder="李刚"
                                                                   value="{{ user.user.username }}">
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group">
                                                        <label for="username" class="col-sm-2 control-label">姓名：</label>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" id="user_name"
                                                                   name="user_name" placeholder="崔照旭"
                                                                   value="{{ user.user_name }}">
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group">
                                                        <label for="username"
                                                               class="col-sm-2 control-label">手机号：</label>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" id="user_phone"
                                                                   name="user_phone" placeholder="110"
                                                                   value="{{ user.user_phone }}">
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group">
                                                        <label for="username"
                                                               class="col-sm-2 control-label">年龄：</label>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" id="user_age"
                                                                   name="user_age" placeholder="18"
                                                                   value="{{ user.user_age }}">
                                                        </div>
                                                    </div>
                                                    <hr/>


                                                    <div class="form-group">
                                                        <label for="username"
                                                               class="col-sm-2 control-label">身份ID：</label>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" id="user_id_card"
                                                                   name="user_id_card" placeholder="15000"
                                                                   value="{{ user.user_id_card }}">
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group">
                                                        <label for="username"
                                                               class="col-sm-2 control-label">备注：</label>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" id="user_remarks"
                                                                   name="user_remarks" placeholder="welcome new world"
                                                                   value="{{ user.user_remarks }}">
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group">
                                                        <label for="username"
                                                               class="col-sm-2 control-label">住址：</label>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" id="user_address"
                                                                   name="user_address" placeholder="15000"
                                                                   value="{{ user.user_address }}">
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="form-group">
                                                        <label for="username"
                                                               class="col-sm-2 control-label">角色：</label>
                                                        <div class="col-sm-5">
                                                            <select name="roles" id="roles " multiple>
                                                                {% for role in roles_list %}
                                                                    <option value="{{ role.pk }}">{{ role.title }}</option>

                                                                {% endfor %}

                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">

                                                        <a href="/user_management/user_info/"
                                                           class="btn btn-danger">取消</a>
                                                        <button type="submit" class="btn btn-default">
                                                            保存
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>


                                            <!--编辑员工end -->


                                        </div>


                                    </div>
                                </div>
                            </div>

                            <!-- 编辑模态框end-->


                            <!-- 删除模态框start-->
                            <a class="btn btn-xs btn-danger" title="删除" data-toggle="modal"
                               data-target="#myModal{{ forloop.counter }}">
                                <i class="ace-icon fa fa-trash-o bigger-120" title="删除"></i>
                            </a>


                            <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">您是否决定删除
                                                <hr/>
                                                <h3>{{ user.user.username }}</h3>
                                                <hr/>

                                                用户的相关信息
                                            </h4>

                                        </div>
                                        <div class="modal-body">
                                            <p>信息一旦删除将无法修复&hellip;!!!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                我再想想
                                            </button>
                                            <a href="/user_management/delete_user/{{ user.pk }}/"
                                               class="btn btn-danger">确定删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- 删除模态框end-->
                            <!-- 操作界面 -->

                        </td>
                    </tr>

                {% endfor %}

                </tbody>

                </thead>

            </table>

        </div>


        <div>

            <!-- 新增员工 -->
            <a class="btn btn-xs btn-success" title="增加员工" data-toggle="modal"
               data-target="#addmyModal">
                <i class="btn btn-mini btn-success" style="width: 70px;height: 25px">新增员工</i>
            </a>


            <div class="modal fade" id="addmyModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- 新增员工-->
                            <div align="center">
                                <p class="btn btn-default" style="width: 150px;height: 40px">增
                                    &nbsp加&nbsp用&nbsp户 &nbsp信&nbsp 息</p>
                            </div>

                            <div class="col-md-offset-1">
                                <hr/>
                                <form action="/user_management/add_user/" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">请选择用户：</label>
                                        <div class="col-sm-5">
                                            <!-- 选择是根据name=“” 传递给后台的字段 里面的 取值是是value的值-->
                                            <select name="user_id" id="titlelist" style="width: 200px">
                                                {% for user in  userlists %}

                                                    <option value="{{ user.pk }}"> {{ user.username }}</option>

                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">姓名：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="user_name" name="user_name"
                                                   placeholder="在这里输入姓名">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label"><span
                                                style="color: red"> * </span>编号：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="adduser_number"
                                                   name="adduser_number"
                                                   placeholder="在这里输入编号">
                                            <span id="message" style="color: red"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label"><span
                                                style="color: red"> * </span>身份证号：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="ckuser_id_card"
                                                   name="ckuser_id_card" placeholder="请在这里输入身份证号">
                                            <span id="cardmessage" style="color: red"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">年限：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="user_stay_years"
                                                   name="user_stay_years"
                                                   placeholder="请在这里输入年限">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">性别：</label>
                                        <div class="col-sm-5">
                                            <!-- 选择是根据name=“” 传递给后台的字段 里面的 取值是是value的值-->
                                            <select name="user_gender" id="user_gender" style="width: 200px">


                                                <option value="m">男</option>
                                                <option value="w">女</option>


                                            </select>

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label"><span
                                                style="color: red"> * </span>手机：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="ckuser_phone"
                                                   name="ckuser_phone" placeholder="请在这里输入11位手机号">
                                            <span id="phonemessage" style="color: red"></span>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">年龄：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="user_age"
                                                   name="user_age" placeholder="请在这里输入年龄">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">备注：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="user_remarks"
                                                   name="user_remarks" placeholder="请在这里输入备注信息">
                                        </div>
                                    </div>


                                    {#                                    <div class="form-group">#}
                                    {#                                        <label for="title" class="col-sm-2 control-label">角色：</label>#}
                                    {#                                        <div class="col-sm-5">#}
                                    {##}
                                    {##}
                                    {#                                            <select name="titlelist" id="titlelist" multiple>#}
                                    {#                                                {% for role in roles_list %}#}
                                    {#                                                    <option value="{{ role.pk }}">{{ role.title }}</option>#}
                                    {##}
                                    {#                                                {% endfor %}#}
                                    {##}
                                    {#                                            </select>#}
                                    {##}
                                    {#                                        </div>#}
                                    {#                                    </div>#}

                                    <br/>


                                    <!--新增员工 -->

                                    <!-- 对于模态框的使用一些按钮是无法乱改的 保存就是保存  取消就是取消 data-dismiss="modal"  就是取消   不用就删除掉再改 -->
                                    <div class="modal-footer">

                                        <a href="/user_management/user_info/"
                                           class="btn btn-danger">取消</a>
                                        <button type="submit" class="btn btn-default" id="save">
                                            保存
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 新增员工 -->
            <!-- 小功能下-->
        <!-- 批量站内信start-->
{#            <a class="btn btn-xs btn-info" title="批量发送站内信" data-toggle="modal"#}
{#               data-target="#qznmyModal{{ forloop.counter }}">#}
{#                <i class="ace-icon fa fa-envelope-o bigger-120" title="批量发送站内信" style="height: 20px" id="allsmail"></i>#}
{#            </a>#}
{##}
{#            <div class="modal fade" id="qznmyModal{{ forloop.counter }}" tabindex="-1" role="dialog"#}
{#                 aria-labelledby="myModalLabel">#}
{#                <div class="modal-dialog" role="document">#}
{#                    <div class="modal-content mail_modal">#}
                        {#                        <form method="post" action="/user_management/all_email/">#}
                        {#                            {% csrf_token %}#}
{#                        <div class="modal-header" style="background:whitesmoke">#}
{#                            <button type="button" class="close" data-dismiss="modal"#}
{#                                    aria-label="Close"><span aria-hidden="true" style="color: red">x</span>#}
{#                            </button>#}
                            {#                                姓名：<input type="text" name="from_user1" value={{ user.user.username }}>#}
                            {#                                邮箱：<input type="email" name="from_user" value={{ user.user.email }}>#}
{##}
{##}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            标题：<input type="text" name="title" class="titles">#}
{##}
{#                            <input type="text" name="status_id" value="0"#}
{#                                   style="display: none">#}
{#                            <label>文章内容:</label>#}
{#                            <textarea name="content" id="article_content" cols="60"#}
{#                                      rows="20" class="contents"></textarea>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭#}
{#                            </button>#}
{#                            <a class="btn btn-primary" id="allsendmail">发送</a>#}
{#                        </div>#}
                        {#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <script>#}
{#                //$('你的input的class或id').datetimepicker({});#}
{#                KindEditor.ready(function (K) {#}
{#                    window.editor = K.create('#article_content', {#}
{#                        width: "800px",#}
{#                        height: "500px",#}
{#                        resizeType: 0,#}
{#                        uploadJson: '/upload/',#}
{#                        extraFileUploadParams: {#}
{#                            csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#                        },#}
{#                        filePostName: 'upload_img',#}
{#                        items: [#}
{#                            'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',#}
{#                            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',#}
{#                            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',#}
{#                            'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',#}
{#                            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',#}
{#                            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',#}
{#                            'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',#}
{#                            'anchor', 'link', 'unlink', '|', 'about'#}
{#                        ]#}
{#                    });#}
{#                });#}
{##}
{##}
{#            </script>#}
        <!-- 批量站内信end-->


            <!-- 群发短信start-->
            <a class="btn btn-xs btn-warning" title="发送短信" data-toggle="modal"
               data-target="#qmessmyModal">
                <i class="ace-icon fa fa-envelope-o bigger-120" title="发送短信" style="height: 20px" id="sendallmess"></i>
            </a>
            <div class="modal fade" id="qmessmyModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content mail_modal">

                        {% csrf_token %}
                        <div class="modal-header">

                        </div>
                        <div class="modal-body">


                            验证码：<input name="mes_content" id="allsms" placeholder="输入您发送的六位验证码">


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <a class="btn btn-primary" id="send_allmess">发送</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 群发短信end-->


            <!-- 小功能上-->

        </div>
        <span id="csrf" style="display: none">{{ csrf_token }}</span>
    <!-- 分页-->
    {% include "user_management_html/checkdata_page.html" %}

    </div>
    </div>
    <!-- 实现全选的功能 当下面的全部选中的时候 全选按钮也应该被选中 当全选时候，有一个取消的时候全选也跟着取消-->
    <!-- 验证输入的字段 start-->
    <script src="/static/js/check_box.js"></script>
    <script src="/static/user_management/phone.js"></script>
    <script src="/static/user_management/id_card.js"></script>
    <script src="/static/mail.js"></script>
    <!-- 群发短信-->
    <script src="/static/user_management/Group_sms.js"></script>

    <script>
        {#$("body").delegate(".for_delete", "click", function () {#}
        {#    swal({#}
        {#        title: "您确定删除吗?",#}
        {#        text: "一旦删除，数据将无法找回",#}
        {#        icon: "warning",#}
        {#        buttons: ["我再想想", "狠心删除"],#}
        {#        dangerMode: true,#}
        {#    })#}
        {#        .then((willDelete) => {#}
        {#            if (willDelete) {#}
        {#                var url = $(this).attr("delete_id") + "/delete";#}
        {#                $.ajax({#}
        {#                    url: url,#}
        {#                    type: "get",#}
        {#                    success: function (data) {#}
        {#                        if (data.status)#}
        {#                            window.location.reload()#}
        {#                    }#}
        {#                });#}
        {#            } else {#}
        {#                swal("数据还是安全的！");#}
        {#            }#}
        {#        });#}
        {# });#}
        $("body").delegate("#batch_delete", "click", function () {
            var delete_id_list = [];
            $(".check_item").each(function () {
                if ($(this).prop("checked")) {
                    var delete_id = $(this).attr("delete_id");
                    delete_id_list.push(delete_id);
                }
            });
            if (!delete_id_list.length) {
                swal({
                    title: "没有选中用户！",
                    text: "请先选择要发送的用户",
                    icon: "error",
                    button: "好的"
                });
                return;
            }
            swal({
                title: "是否决定删除",
                text: "一旦删除将无法恢复",
                icon: "warning",
                buttons: ["我再想想", "发送"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/user_management/batch_delete/",
                            type: "post",
                            traditional: true,
                            data: {
                                "delete_id_list": delete_id_list,
                                "csrfmiddlewaretoken": "{{ csrf_token }}"
                            },
                            success: function (data) {
                                if (data.status)
                                    window.location.reload()
                            }
                        });
                    } else {
                        swal("数据还是安全的！");
                    }
                });
        });

    </script>
    <script>
        //CSRF设置
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        $('body').delegate('#adduser_number', 'blur', function () {
            var usernumber_var = $("#adduser_number").val();
            if (usernumber_var != "") {

                $.post(
                    "/user_management/check_usernumber/",
                    {
                        "adduser_number": usernumber_var
                    },
                    function (data) {
                        console.log(data.message);
                        if (data.message == 1) {

                            $("#message").text("编号已被占用");

                            {#$('#save').css('display','none');#}
                            $('#save').addClass("disabled");

                        }
                        else {
                            <!-- $('#message').css('display','none'); 不能这样设置 当第二次判断的时候 即使是错的的也无法进行错误提示显示  -->
                            $("#message").text("");

                            $('#save').removeClass("disabled");

                        }
                    }
                )
            }
        });


    </script>
    <!-- 群发站内信start-->
    <script>
        {#delegate#}
        $("body").delegate("#allsmail", "click", function () {
            var delete_id_list = [];


            $(".check_item").each(function () {
                if ($(this).prop("checked")) {
                    var delete_id = $(this).attr("delete_id");
                    delete_id_list.push(delete_id);
                }
            });
            if (!delete_id_list.length) {
                swal({
                    title: "没有选中用户！",
                    text: "请先选择要发送的用户",
                    icon: "error",
                    button: "好的"

                });
                 return;

            }
            swal({
                title: "是否决定删除",
                text: "一旦删除将无法恢复",
                icon: "warning",
                buttons: ["我再想想", "发送"],
                dangerMode: true,
            })

            .then((allsendmail) => {
                    if (allsendmail) {
                         $.ajax({
                url: "/user_management/all_email/",
                type: "post",
                traditional: true,
                data: {
                    "delete_id_list": delete_id_list,
                    'title': title,
                    'content': content,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (data) {

                    if (data.status)
                        alert('发送成功')
                    window.location.reload()
                }
            });
                    }
                    else {
                        swal("数据还是安全的！");
                    }
                });
        });


    </script>
    <script>
        {#$("#allsendmail").click(function () {#}
        {##}
        {#    var title = $('.titles').val()#}
        {#    var content = $('.contents').val()#}
        {##}
        {#    var delete_id_list = [];#}
        {#    $(".check_item").each(function () {#}
        {#        if ($(this).prop("checked")) {#}
        {#            var delete_id = $(this).attr("delete_id");#}
        {#            delete_id_list.push(delete_id);#}
        {#        }#}
        {#    });#}
        {#    $.ajax({#}
        {#        url: "/user_management/all_email/",#}
        {#        type: "post",#}
        {#        traditional: true,#}
        {#        data: {#}
        {#            "delete_id_list": delete_id_list,#}
        {#            'title': title,#}
        {#            'content': content,#}
        {#            "csrfmiddlewaretoken": "{{ csrf_token }}"#}
        {#        },#}
        {#        success: function (data) {#}
        {##}
        {#            if (data.status)#}
        {#                alert('发送成功')#}
        {#            window.location.reload()#}
        {#        }#}
        {#    });#}
        {##}
        {##}
        {# });#}


    </script>
    <!-- 群发站内信start-->
{% endblock %}
