.message_header {
    margin-top: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5bc0de;
}

.span_header .span_right {
    float: right;
    margin-right: 200px;
}

.btn_submit {
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
}

.btn_submit .btn {
    margin-left: 5px;
    width: 200px;
}

.btn_submit .btn_query {
    color: white;
    background-color: #ff8500;
}

.btn_submit .btn_query:hover {
    color: white;
    background-color: #00BE67;
}

.btn_submit span {
    margin-left: 30%;
}

.span_header .time_size, .article_ranking, .results_show, .micro_blog, .region, .blog_content, .source_website {
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
    font-size: 16px;
    border-bottom: 1px solid #5bc0de;
}

.panel-default {
    border: 1px solid #1CC09F;
}

.source_message {
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5bc0de;
}

.spans {
    margin-left: 15px;
    color: #ff8500;
}

.color_tr {
    background-color: #eee;
}

.input_checkbox {
    width: 25px;
}

.style_title {
    width: 800px;
}

.query_text input {
    position: absolute;
    top: 459px;
    left: 870px;
}

.query_text button {
    position: absolute;
    top: 459px;
    left: 1125px;
}

.line_height span, .line_height input {
    line-height: 120px;
}

.panel-default .color_tr td, tbody tr td {
    text-align: center;
}
