.message_header {
    margin-top: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5bc0de;
}

.span_header .span_right {
    float: right;
}

.span_header .span_right .attribute_right {
    margin-right: 260px;
}

.span_header .span_right .merge_right {
    margin-right: 308px;
}

.span_header .span_right .involve_right {
    margin-right: 218px;
}

.span_header .span_right .matching_right {
    margin-right: 231px;
}

.span_header .span_right .other_time {
    margin-right: 55px;
    display: none;
}

.btn_submit {
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
}

.btn_submit .btn {
    margin-left: 5px;
    width: 200px;
}

.btn_submit .btn_query {
    color: white;
    background-color: #ff8500;
}

.btn_submit .btn_query:hover {
    color: white;
    background-color: #00BE67;
}

.btn_submit span {
    margin-left: 30%;
}

.span_header .time_size, .article_ranking, .results_show, .micro_blog, .region, .blog_content, .source_website {
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
    font-size: 16px;
    border-bottom: 1px solid #5bc0de;
}

.panel-default {
    border: 1px solid #1CC09F;
}

.source_message {
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5bc0de;
}

.spans {
    padding-left: 15px;
    font-size: 14px;
    /*color: #ff8500;*/
}

.spans2 {
    padding-left: 15px;
    font-size: 14px;
    /*color: #ff8500;*/
}

.spans:hover {
    font-weight: bold;
    color: #ff8500;
}

.spans2:hover {
    font-weight: bold;
    color: #ff8500;
}

.click {
    font-weight: bold;
    color: #ff8500;
}

.color_tr {
    background-color: #eee;
}

.input_checkbox {
    width: 21px;
}

.style_title {
    width: 800px;
}

.query_text input {
    position: absolute;
    top: 464px;
    left: 870px;
}

.span_span {
    position: absolute;
    top: 468px;
    left: 603px;
}

.span_span span {
    font-size: 20px;
    margin-right: 20px;
}

.query_text button {
    position: absolute;
    top: 459px;
    left: 1125px;
}

.content_50 img {
    width: 150px;
    height: 150px;
    display: none;
}

.line_height span, .line_height input {
    line-height: 220px;
}

.panel-default .color_tr td, tbody tr td {
    text-align: center;
}

ul li {
    list-style-type: none;
    display: inline;
}

.tr_content {
    width: 784px;
    text-align: left;
}

.one_button a:link {
    color: black;
}