<div class="modal fade"  style="left: 30%;top: 20%" id="accredit_role{{ forloop.counter }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择权限</h4>
            </div>
{#        action="/permission/give_role_permission/{{ role.id }}/?role_group_id={{ role_group_id }}"#}
            <form  action="/permission/accredit2/{{ role.id }}/?role_group_id={{ role_group_id }}"  method="post">
                {% csrf_token %}
                <div class="modal-body" style="text-align: left">
                    <a class="button btn btn-info select_all">全选</a>
                    <a class="button btn btn-info no_select_all pull-right">全不选</a>
                    <ul style="list-style: none">
                        {% for first in permission_first %}
                             {% if first.is_del == 0 %}
                                 <li>
                                {% if first in role.permissions.all %}
                                    <input type="checkbox" class="first_group2" flag="{{ first.title }}2"
                                           name="choose2" value="{{ first.id }}" checked="checked">
                                {% else %}
                                    <input type="checkbox" class="first_group2" flag="{{ first.title }}2"
                                           name="choose2" value="{{ first.id }}">
                                {% endif %}

                                <span><a class="role_group2" style="text-decoration: none">{{ first.title }}</a></span>
                                <ul style="list-style: none" attr2="yes">
                                    {% for second in permission_second %}
                                         {% if second.is_del == 0 %}
                                        {% if second.group.title == first.title %}
                                            <li>{% if second in role.permissions.all %}
                                                <input type="checkbox" class="second_group2" flag2="{{ second.title }}2"
                                                       value="{{ second.id }}" name="choose2" flag="{{ first.title }}2"
                                                       checked="checked">
                                            {% else %}
                                                <input type="checkbox" class="second_group2" flag2="{{ second.title }}2"
                                                       value="{{ second.id }}" name="choose2" flag="{{ first.title }}2">
                                            {% endif %}
                                                <span id="permission"><a class="second_title2" style="text-decoration: none">{{ second.title }}</a></span>
                                                <ul style="list-style: none" attr2="yes">
                                                    {% for third in crud_permission_list %}
                                                        {% if third.group.title == second.title %}
                                                            <li>
                                                            {% if third in role.permissions.all %}
                                                            <input type="checkbox" value="{{ third.id }}" name="choose2"
                                                                   flag="{{ first.title }}2" flag2="{{ second.title }}2"
                                                                   checked="checked">
                                                        {% else %}
                                                            <input type="checkbox" value="{{ third.id }}" name="choose2"
                                                                   flag="{{ first.title }}2" flag2="{{ second.title }}2">
                                                        {% endif %}

                                                            <span id="permission">{{ third.title }}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>

            </form>

        </div>
    </div>
</div>

