<div class="modal fade " style="left: 30%;top: 20%" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 45%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择权限</h4>
            </div>
            <form action="/permission/role_group_permission/{{ role_group_id }}/" method="post">
                {% csrf_token %}
                <div class="modal-body">

                    <a class="button btn btn-info" onclick="SelectAll()">全选</a>
                    <a class="button btn btn-info pull-right" onclick="noSelectAll()">全不选</a>
                    <ul style="list-style: none">
                        {% for first in permission_first %}
                             {% if first.is_del == 0 %}
                                 <li>
                                {% if first in role_group_permissions %}
                                    <input type="checkbox" class="first_group" flag="{{ first.title }}"
                                           name="choose" value="{{ first.id }}" checked="checked">
                                {% else %}
                                    <input type="checkbox" class="first_group" flag="{{ first.title }}"
                                           name="choose" value="{{ first.id }}">
                                {% endif %}

                                <span><a class="role_group" style="text-decoration: none">{{ first.title }}</a></span>
                                <ul style="list-style: none" attr="yes">
                                    {% for second in permission_second %}
                                         {% if second.is_del == 0 %}
                                        {% if second.group.title == first.title %}
                                            <li>{% if second in role_group_permissions %}
                                                <input type="checkbox" class="second_group" flag2="{{ second.title }}"
                                                       value="{{ second.id }}" name="choose" flag="{{ first.title }}"
                                                       checked="checked">
                                            {% else %}
                                                <input type="checkbox" class="second_group" flag2="{{ second.title }}"
                                                       value="{{ second.id }}" name="choose" flag="{{ first.title }}">
                                            {% endif %}
                                                <span id="permission"><a style="text-decoration: none" class="second_title">{{ second.title }}</a></span>
                                                <ul style="list-style: none" attr="yes">
                                                    {% for third in crud_permission_list %}
                                                            {% if third.group.title == second.title %}
                                                            <li>{% if third in role_group_permissions %}
                                                            <input type="checkbox" value="{{ third.id }}" name="choose"
                                                                   flag="{{ first.title }}" flag2="{{ second.title }}"
                                                                   checked="checked">
                                                        {% else %}
                                                            <input type="checkbox" value="{{ third.id }}" name="choose"
                                                                   flag="{{ first.title }}" flag2="{{ second.title }}">
                                                        {% endif %}

                                                            <span id="permission">{{ third.title }}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="/static/jquery-3.3.1.min.js"></script>
{% comment %}角色组权限的全选{% endcomment %}
<script>
    function SelectAll() {
        var checkboxs = document.getElementsByName("choose");
        for (var i = 0; i < checkboxs.length; i++) {
            var e = checkboxs[i];
            e.checked = true;
        }
    }
</script>
{% comment %}角色组权限的全不选{% endcomment %}
<script>
    function noSelectAll() {
        var checkboxs = document.getElementsByName("choose");
        for (var i = 0; i < checkboxs.length; i++) {
            var e = checkboxs[i];
            e.checked = false;
        }
    }
</script>
{% comment %}角色组权限的一级菜单的CheckBox点击事件{% endcomment %}
<script type="text/javascript">
    $(document).on('click', '.first_group', function () {
        var attrs = $(this).attr('flag');  //获得一级菜单组title（first.title） ，用来做标志
        var $check1 = $(this);
        if ($check1[0].checked) {
            $('input[flag="' + attrs + '"]').prop("checked", true);
            //如果因为jquery版本问题，导致checkbox显示不正常，用下面的attr方法
            // $('input[flag="' + attrs + '"]').attr("checked",true);
        }
        else {
            $('input[flag="' + attrs + '"]').prop('checked', false);
            //如果因为jquery版本问题，导致checkbox显示不正常，用下面的attr方法
            //  $('input[flag="' + attrs + '"]').attr('checked', false);
        }
    });

</script>
{% comment %}角色组权限的二级菜单的CheckBox点击事件{% endcomment %}
<script type="text/javascript">
    $(document).on('click', '.second_group', function () {
        var attrs = $(this).attr('flag2');  //获得组title ，用来做标志
        var $check2 = $(this);
        if ($check2[0].checked) {
            $('input[flag2="' + attrs + '"]').prop("checked", true);
            //如果因为jquery版本问题，导致checkbox显示不正常，用下面的attr方法
            // $('input[flag2="' + attrs + '"]').attr("checked",true);
        }
        else {
            $('input[flag2="' + attrs + '"]').prop('checked', false);
            //如果因为jquery版本问题，导致checkbox显示不正常，用下面的attr方法
            //  $('input[flag2="' + attrs + '"]').attr('checked', false);
        }
    });

</script>
{% comment %}角色组权限一级菜单的点击事件{% endcomment %}
<script type="text/javascript">
    $(".role_group").click(function () {
        if ($(this).parent().next().attr('attr') == 'yes') {
            $(this).parent().next().css("display", "none");
            $(this).parent().next().attr('attr','no');
        }
        else {
            $(this).parent().next().css("display", "block");
             $(this).parent().next().attr('attr','yes');
        }
    });

</script>
{% comment %}角色组权限二级菜单的点击事件{% endcomment %}
<script type="text/javascript">
    $(".second_title").click(function () {
        if ($(this).parent().next().attr('attr') == 'yes') {
            $(this).parent().next().css("display", "none");
            $(this).parent().next().attr('attr','no');
        }
        else {
            $(this).parent().next().css("display", "block");
             $(this).parent().next().attr('attr','yes');
        }
    });

</script>