{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>用户角色管理</h1><br><br>

            <div>
                <h3>
                    当前角色：
                    {% for foo in request.user.role_set.all %}
                        {{ foo.title }}
                    {% endfor %}
                </h3>
            <br>
            <br>
            <br>
            </div>
            <form action="/permission/user_role/" method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                用户<select id="user" name="user" class="form-control" style="width: 50%">
                    {% for user in user_list %}
                        <option value="{{ user.pk }}">{{ user.username }}</option>
                    {% endfor %}
                </select><br><br>
                角色<select id="role" name="role" multiple class="form-control" style="width: 50%">
                    {% for role in role_list %}
                        <option value="{{ role.pk }}">{{ role.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary ">
                    保存
                </button>




            </form>
        </div>
    </div>
{% endblock %}
