{% extends "base.html" %}
{% block content %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/check_box.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <br/>
    <br/>
    <div class="pull-right">
    <a href="/xadmin/"><span>xadmin/</span></a><a href="/xadmin/{{ current_url }}">{{ current_url }}</a>
    </div>
    <br/>
    <br/>
    <div align="center">
        <h2><strong>{{ model_name }}表</strong></h2>
    </div>
    <br/>
    <br/>
    <div class="col-md-offset-1">
        <div>
            <a href="add/" class="btn btn-info" style="width: 100px;">添加数据</a>
            <button class="btn btn-danger" id="batch_delete" style="width: 100px;">批量删除</button>
        </div>
        <br/>
        <form class="form-inline">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="keyword" style="width: 400px;"
                       placeholder="在这里输入需要管理的数据信息(支持模糊查询)"/>
            </div>
            <div class="form-group">
            </div>
            <button type="button" id="search_data" class="btn btn-info">查询</button>
        </form>

        <hr/>
        <div>
            {% csrf_token %}
            <table class="table table-hover table-bordered">
                <thead>
                <th>
                    <input type="checkbox" id="check_all"/>
                </th>
                {% for field_name in field_names %}
                    <th>
                        <span>{{ field_name }}</span>
                    </th>
                {% endfor %}
                </thead>
                <tbody id="data">
                {% for data in data_list %}
                    <tr>
                        <td>
                            <input type="checkbox" class="check_item" delete_id="{{ data.0 }}"/>
                        </td>
                        {% for item in data %}
                            <td>
                                <span>{{ item | slice:":40" }}</span>
                            </td>
                        {% endfor %}
                        <td>
                            {#                            #}
                            {#                            <a href="{{ data.0 }}/delete" class="btn btn-danger">删除</a>#}
                            <a href="{{ data.0 }}/update" class="btn btn-info">修改</a>
                            <button class="btn btn-danger for_delete" delete_id="{{ data.0 }}">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $("body").delegate(".for_delete", "click", function () {
            swal({
                title: "确定删除吗?",
                text: "一旦删除，数据将无法找回",
                icon: "warning",
                buttons: ["还是算了", "删了就删了"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        var url = $(this).attr("delete_id") + "/delete";
                        $.ajax({
                            url: url,
                            type: "get",
                            success: function (data) {
                                if (data.status)
                                    window.location.reload()
                            }
                        });
                    } else {
                        swal("数据还是安全的！");
                    }
                });
        });
        $("body").delegate("#batch_delete", "click", function () {
            var delete_id_list = [];
            $(".check_item").each(function () {
                if ($(this).prop("checked")) {
                    var delete_id = $(this).attr("delete_id");
                    delete_id_list.push(delete_id);
                }
            });
            if (!delete_id_list.length) {
                swal({
                    title: "没有选中数据！",
                    text: "请先选择要删除的数据",
                    icon: "error",
                    button: "好的"
                });
                return;
            }
            swal({
                title: "确定删除吗?",
                text: "一旦删除，数据将无法找回",
                icon: "warning",
                buttons: ["还是算了", "删了就删了"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                            $.ajax({
                                url: "batch_delete/",
                                type: "post",
                                traditional: true,
                                data: {
                                    "delete_id_list": delete_id_list,
                                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                                },
                                success: function (data) {
                                    if (data.status)
                                        window.location.reload()
                                }
                            });
                    } else {
                        swal("数据还是安全的！");
                    }
                });
        });
        $("#search_data").click(function () {
            $("#data").html("")
            var keyword = $("#keyword").val();
            if (!keyword.length) {
                swal({
                    title: "搜索框没有数据！",
                    text: "请先在搜索框输入数据",
                    icon: "error",
                    button: "好的"
                });
                return;
            }
            $.ajax({
                url: "search_data/",
                type: "post",
                data: {
                    "keyword": keyword,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (data) {
                    if (data.status) {
                        $("#data").append(data.html)
                    }
                    else {
                        alert("出现了未知错误！请联系开发者：qwerty")
                    }
                }
            });
        });
    </script>
{% endblock %}