{% extends "base.html" %}
{% block content %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/check_box.js"></script>
    <script type="text/javascript">
        $(function () {
            var flag = false
            $("#check_all").click(function () {
                if (flag) {
                    flag = false
                    $(".check_item").attr("checked", flag)
                }
                else {
                    flag = true
                    $(".check_item").attr("checked", flag)
                }
            });
            // $(".check_item").click(function () {
            //     var check_flag = true;
            //     $(this).each(function () {
            //         if (!$(this).attr("checked")) {
            //             check_flag = false;
            //         }
            //     });
            //     $("#check_all").attr("checked", check_flag)
            // });
        });

    </script>
    <br/>
    <br/>
    <br/>
    <div align="center">
        <h2><strong>{{ model_name }}表</strong></h2>
    </div>
    <div class="col-md-offset-1">
        <div>
            <a href="add/" class="btn btn-info" style="width: 100px;">添加数据</a>
        </div>
        <form class="form-inline">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="keyword" style="width: 300px;"
                       placeholder="在这里输入需要管理的数据信息(支持模糊查询)"/>
            </div>
            <div class="form-group">
            </div>
            <button type="button" id="search_data" class="btn btn-info">查询</button>
        </form>

        <hr/>
        <div>
            <table class="table table-hover table-bordered">
                <thead>
                <th>
                    <input type="checkbox" id="check_all"/>
                </th>
                {% for field_name in field_names %}
                    <th>
                        <span>{{ field_name }}</span>
                    </th>
                {% endfor %}
                </thead>
                <tbody id="data">
                {% for data in data_list %}
                    <tr>
                        <td>
                            <input type="checkbox" class="check_item"/>
                        </td>
                        {% for item in data %}
                            <td>
                                <span>{{ item }}</span>
                            </td>
                        {% endfor %}
                        <td>
                            <a href="{{ data.0 }}/update" class="btn btn-info">修改</a>
                            <a href="{{ data.0 }}/delete" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $("#search_data").click(function () {
            $("#data").html("")
            $.ajax({
                url: "search_data/",
                type: "post",
                data: {
                    "keyword": $("#keyword").val(),
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (data) {
                    if (data.status) {
                        $("#data").append(data.html)
                    }
                    else {
                        alert("请输入内容！")
                    }
                }
            });
        });
    </script>
{% endblock %}